.task-item {
  background-color: #f8f9fa;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.task-name {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
  transition: color 0.3s ease; /* Smooth transition for text color change */
}

.task-item.completed .task-name {
  text-decoration: line-through;
  color: #a0a0a0;
}

.task-item.completed {
  background-color: #e0e0e0; /* Faded background for completed tasks */
}

.delete-button {
  cursor: pointer;
  color: red;
}
