body {
  background: linear-gradient(135deg, #e0f7fa, #e1f5fe);
}

.tasks-page {
  text-align: center;
  padding: 20px;
}

.logo {
  width: 150px;
  margin: 20px auto;
  display: block;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border: 2px solid #007bff;
  border-radius: 8px;
  color: #007bff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.logout-button:hover {
  background-color: #007bff;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.add-task-button-container {
  display: flex;
  justify-content: center; /* Center align the button horizontally */
  margin-bottom: 20px;
}

.add-task-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.add-task-button:hover {
  background-color: #0056b3;
}

.tasks-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tasks-list {
  margin-top: 20px;
}

.task-item {
  background-color: #f8f9fa;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.task-item input[type="checkbox"] {
  margin-right: 10px;
}

.error {
  color: red;
  margin-bottom: 20px;
}
