.task-item {
  background-color: #f8f9fa;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-name {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
}

.delete-button {
  cursor: pointer;
  color: red;
}
